header{
    margin-bottom: 64px;
}

h1{
    font-size: 48px;
    color: rgb(71,62,62);
    margin: 12px 0;/* 블럭요소간 수직 margin 겹침에는 margin collapsing이 일어남. 더큰 여백으로 결정됨 */

}

/*id selector는 매우 구체적, 1개 대상만 사용가능.*/
#description{
    margin: 8px;
}

/* descendent selector는 덜 구체적이고 포괄적, 여러 개 대상으로 사용가능.
header p{
    margin-bottom: 36px;
} */

a{
    padding: 12px 48px;
    /*inline 요소에는 위아래 padding을 추가할 수 있지만 겹치는 다른 요소를 옮겨주진 않음. */
    background-color: rgb(167,1,78);
    color: white;
    border: 1px solid rgb(167,1,78);
    border-radius: 4px;
    font-size: 24px;
    /*inline 요소에 위아래 여백(margin)은 의미없다*/
    display: inline-block;
    /*display : inline-blokc으로 해결하면됨 */
    margin: 12px 0;
}

a:hover{
    background-color: rgb(180,12,90);
    text-decoration: none;
}

ol{
    list-style: none;
    width: 500px;
    /*margin 왼쪽 오른쪽 auto로하면 중앙배열 가능 */
    margin: 36px auto 0 auto;
    padding: 0;
}

/* all coment processing : ctrl + / */
li{
    padding: 16px;
    margin: 32px;
    background-color: rgb(223,136,124);
    border-radius: 6px;
} 

h2{
    color: rgb(78, 13, 5);
    font-family: 'Oswald', sans-serif;
}

/* main p{
    
} */

/* 우선순위가 main p보다 높음*/
.highlight-goal{
    background-color: rgb(226,115,101);
}


