body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    margin: 50px;
}

img {
    width: 200px;
    height: 200px;

    border-radius: 100px;
}

h1{
    font-family: Oswald; 
    /* text-align: center;  - 위 body요소에서 이미 정의함*/
    color : rgb(74, 50, 50);
}

p{
    font-family: sans-serif; 
    /* text-align: center; */ 
    color: rgb(74, 50, 50);
}

a{
    color: rgb(167, 50, 50);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#todays-challenge{
    color:rgb(74, 50, 50);
    font-weight: bold;
    font-size: 52px;
}



